{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="jumbotron jumbotron-fluid p-md-5 m-md-4">
        <div class="container">
            <img class="card-img" style="max-height:980px; max-width:760px;"
                 src="{% static 'img/jane_photo.jpg' %}" alt="Card image">
            <h3 class="display-4 text-center mt-4 ">JR artist</h3>
            <p class="lead">Creating art through full-time job.</p>
            <p class="lead">Nature, ocean, sailing, poetry, soul, languages, contemporary art are things which I delight on</p>
            <p class="lead">By my paintings, I try to express my soul. I'm self-taught and art is not my cash cow right now. But probably someday it will be.</p>
            <p class="lead">My artworks are usually made by oil colours on canvas, and acryl on different shapes by aerograph.</p>
        </div>
    </div>
{% endblock %}