{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="jumbotron jumbotron-fluid p-md-5 m-md-4">
        <div class="container">
            <img class="card-img" style="max-height:980px; max-width:760px;"
                 src="{% static 'img/jane_photo.jpg' %}" alt="Card image">
            <h3 class="display-4">Ocean Artist</h3>
            <p class="lead">Ocean freedom.</p>
            <p class="lead">If you haven’t tried surfing, go for it.
Surfing might move you to the core or just touch you beautifully and leave.
It is, however, better to have surfed and quit then never to have surfed at all.</p>
        </div>
    </div>
{% endblock %}