:root {
    --jumbotron-padding-y: 3rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px; /* Margin bottom by footer height */
}

.jumbotron {
        background-color: #ffffff !important;
    display: flex;
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-img-top {
    max-height: 14rem;
}

.nav-link {
    text-decoration-color: #ffffff;
    color: white !important;
}

.card-img-top {
    max-height: 12rem;
}

.container.main {
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 40px;
    max-height: 100%;
}

.container.page {
    position: absolute;
}

.jumbotron-fluid {
    max-height: 100%;
}